body {
  background-color: #f5f5f5; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 10vh;
    background-color:white;
    box-shadow: 0 2px 5px #ecbbd8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav{
    display: flex;
    list-style: none;
    background-color:#ecbbd8;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    height: 2vh;
}

.nav-button{
    background-color:#ecbbd8;
    color: #cc7cac;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #cc7cac;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-button:hover{
    background-color:#cc7cac;
    color: white;
}
/* header */
header {
    background-color: #cc7cac;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
     box-shadow: 0 2px 5px #cc7cac;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     height: 25vh;

}
header h1 {
    list-style: 2.5em;
    font-size: 60px;
}


/*main content*/
main {
    padding: 20px;
}
section, article {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center relative;
    color: #cc7cac;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
section h2, article {
    color: #cc7cac;
    margin-bottom: 10;
    text-align: center;
    font-size: 50px;

}

.container1 {
    align-items: center;
    height: 100vh;
    background-color: #cc7cac;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.7;
  height: 50%;
  border: 15px #f5f5f5 double ;
  size: 34%;

}
header h3 {
  color: white;             
  text-align: center;           
  font-size: 50px; 
}